<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacao</title>
</head>
<body>
    
    <br>
    <center><h4>Registro cadastrado com sucesso!. </h4></center>
    <br>
    <br>
    <br>
    <br>
    <a href="Home"><span style="color:blue !important;">Votar para a página inicial</span> </a>
</body>
</html>


