<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>

    <!-- 
        Aki iremos falar sobre o Hotel 
        colocaremos algumas imagens pra ilustrar,
        em resumo iremos fazer uma pagina Chamativa pro usuario 
    -->

    <div>
        <h1>Conteudo</h1>
    </div>
    
</body>
</html>