<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>

<header > 
    <h1>Logo Do Hotel</h1>
    <a href="Home">Inicial</a>
    <a href="Registro">Registro</a>
    <a href="Quartos">Quartos</a>
    <a href="MeuPerfil">Meu Perfil</a>
</header>

<body>

    <!-- 
        Aki iremos falar sobre o Hotel 
        colocaremos algumas imagens pra ilustrar,
        em resumo iremos fazer uma pagina Chamativa pro usuario 
    -->

    <div>
        <h1>Conteudo</h1>
    </div>

    <div >
        <p>TRABALHO FINAL DESENVOLVIMENTO WEB – NodeJS - Equipe<br>
            <br>
            472687 - José Ribamar Silva Soares Filho;<br>
            499641 - Vinicius Amorim Sales Lopes;<br>
            398598 - André Teixeira Vaz;<br>
            404196 - Alex Lima De Freitas;<br>
            383866 - João Victor Macêdo L. Temóteo.<br>
            </p>
    </div>
    
</body>
</html>