<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="images/fevicon.png" type="image/png" />
   <!-- Bootstrap core CSS -->
   <link href="css/bootstrapHome.css" rel="stylesheet">
   <!-- FontAwesome Icons core CSS -->
   <link href="css/font-awesome.min.css" rel="stylesheet">
   <!-- Custom animate styles for this template -->
  
   <!-- Custom styles for this template -->
   <link href="css/styleHome.css" rel="stylesheet">
   <!-- Responsive styles for this template -->

   <!-- Colors for this template -->
   <link href="css/colors.css" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet"> 
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">
        <!-- Template Stylesheet -->
        <link href="css/fundo.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <!-- light box gallery -->
    <title>Home</title>
    
</head>
  <body id="home_page" class="home_page">
      <section class="slider_section">
         <div class="container-fluid">
            <div class="row">
               <div id="main_slider" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                  <div class="carousel-inner">
                     <div class="carousel-item slider_inner slider1 active">
                        <div class="container">
                           <div class="row">
                              <div class="slider_coint_inner">
                                 <h3>Hotels<br><strong>O hotel com os <br>melhores quartos</strong></h3>
                                 <h4 class="font_themecolor">Para você.</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end slider -->

      <!-- about section -->
      <section class="layout_padding section padding_bottom_0">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="full heading_s1">
                     <h2>Sobre nosso hotel</h2>
                  </div>
                  <div class="full">
                     <p class="large">Aqui você encontra os melhores quartos, com o melhor conforto e com tudo
                     que você precisa para passar seus dias, venha conferir nossas ofertas, só aqui você
                 tem acesso aos melhores quartos pelo o melhor preço que um hotel 5 estrelas, poderia lhe oferecer</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="about_img margin_top_30  text_align_center">
                     <img src="img/16.jpg" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end about section -->

      <!-- section --> 
      <section class="layout_padding padding_bottom_0" style="background: #fff;">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="full heading_s1">
                     <h2>Nossos quartos mais procurados</h2>
                  </div>
                  <div class="full">
                     <p class="large">Abaixo você confere alguns dos quartos mais procurados por quem deseja
                     contar com os serviços do nosso hotel. Na aba quartos você pode encontrar maiores detalhes.</p>
                  </div>
               </div>
            </div>
            <div class="row product_section">
               <div class="col-md-4"> 
                  <div class="full product_blog margin_top_30">
                     <img src="img/janelas.jpg" alt="#" />
                     <h3><span style="color: #7f7f7f !important;">*</span> Quarto de Luxo</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="full product_blog margin_top_30">
                     <img src="img/quarto-suite-hotel-vegano.jpg" alt="#" />
                     <h3><span style="color: #7f7f7f !important;">*</span> Quarto Premium</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="full product_blog margin_top_30">
                     <img src="img/hotel-d-luz.jpg" alt="#" />
                     <h3><span style="color: #7f7f7f !important;">*</span> Quarto Família</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="full product_blog margin_top_30">
                     <img src="img/hospedagem-1.jpg" alt="#" />
                     <h3><span style="color: #7f7f7f !important;">*</span> Quarto Suite</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="full product_blog margin_top_30">
                     <img src="img/sera.jpg" alt="#" />
                     <h3><span style="color: #7f7f7f !important;">*</span> Quarto Premium</h3>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="full product_blog margin_top_30">
                     <img src="img/hotel-rural.jpg" alt="#" />
                     <h3><span style="color: #7f7f7f !important;">*</span> Quarto Família</h3>
                  </div>
               </div>
            </div>
          </div>
      </section>
      <!-- end section -->
     
      <!-- section -->
      <section class="layout_padding section padding_bottom_0">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="full heading_s1">
                     <h2>Já percebeu que Hotels, <br>é o melhor para você?</h2>
                  </div>
                  <div class="full">
                     <p class="large">Não perca essa sua oportunidade, registre-se já em nosso site e entre em contato com nosco para fazeer a sua reserva agora mesmo. Estamos esperando por você.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
       
       <!-- section -->
      <section class="layout_padding haf_layout section">
         <div class="container-fluid">
            <div class="row">
              <div class="col-md-11">
                 <div class="row">
                   <div class="container">
                    <div class="col-md-8">
                     <div class="full banner_section">
                         <h3>A <span style="color: #7f7f7f !important;">oportunidade é agora</span></h3>
                         <p>Venha agora mesmo para o melhor hotel do país, o Hotels.</p>
                     </div>
                    </div>
                 </div>
                  </div>
                 <img class="img-responsive" src="img/15.jpg" alt="#" />
              </div>
            </div>
         </div>
      </section>
</html>