<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quartos</title>
    <link rel="stylesheet" href="/css/slider.css">
    <!--<link rel="stylesheet" href="/public/css/bootstrap.css">-->
</head>

<body>
    <script src="/js/slider.js"></script>

    <h2 style="text-align:center">Quartos</h2>

    <div class="slideshow-container">
      <h3 class="olaa">Quarto Premium</h3>
      <div class="mySlides1">
        <img src="/img/06.jpg" style="width:100%">
        <p> Sobre o quarto</p>
        <ul id = slider>
          <li>Quarto climatizado, espaçoso e acochegante para você e até 3 acompanhantes, com duas suites disponíveis.</li>
       </ul>
        
    </div>
  
    <div class="mySlides1">
      <img src="/img/07.jpg" style="width:100%">
      <p>Saiba mais</p>
      <ul id = slider>
          <li>Os quartos Premium, são os maiores do Hotel, com vistas belíssimas, e conforto 5 estrelas.O pacote incluso conta com serviços de quarto, almço e janta, Wi-fi plus para até 4 pessoas, canais por assinatura na TV, um frigobar pré abastecido.</li>
      </ul>
    </div>
    
    <div class="mySlides1">
      <img src="/img/08.jpg" style="width:100%">
      <p>Preços</p>
      <ul id = slider>
          <li>Apenas: R$ 2,100/diária.</li>
          <li>Pacotes com serviços adicionais podem ser contratados*.</li>
            </ul>
      </div>
    
      <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
    </div>
    
    
    <div class="slideshow-container">
      <h3>Quarto Família</h3>
      <div class="mySlides2">
        <img src="/img/01.jpg" style="width:100%">
        <p>Sobre o quarto</p>
        <ul id = slider>
          <li>Quarto climatizado, espaço e confortável para você e a sua familía. Ideal para até 
              4 pessoas, contamos com duas camas de solteiro, e uma cama de casal, além de uma suite.
          </li>
        </ul>
      </div>
    
      <div class="mySlides2">
        <img src="/img/02.jpg" style="width:100%">
        <p>Saiba mais</p>
        <ul id = slider>
           <li>Os quartos Família, são planejados e idealizados para que toda a 
            família tenha todo o conforto necessário para aproveitar ao máximo a estádia 
            no hotel. Tendo em vista isso, oferemos no pacote família, um café da manhã sem
            custos durante a estadia, canais de TV a cabo, e até 4 acessos ao Wi-fi do quarto.</li>
                 </ul>
      </div>
    
      <div class="mySlides2">
        <img src="/img/10.jpg" style="width:100%">
        <p>Preços</p>
        <ul id = slider>
           <li>Apenas: R$ 1,400/diária.</li>
           <li>Pacotes com serviços adicionais podem ser contratados*.</li>
                 </ul>
      </div>
    
      <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
    </div>

    
    <div class="slideshow-container">
      <h3>Quarto Suite</h3>
      <div class="mySlides3">
        <img src="/img/03.jpg" style="width:100%">
        <p>Sobre o quarto</p>
        <ul id = slider>
          <li>Quarto climatizado, espaçoso e acochegante para você e até 3 acompanhantes, com duas suites disponíveis.</li>
        </ul>
      </div>
    
      <div class="mySlides3">
        <img src="/img/11.jpg" style="width:100%">
        <p>Saiba mais</p>
        <ul id = slider>
           <li>Os quartos Premium, são os maiores do Hotel, com vistas belíssimas, e conforto 5 estrelas.O pacote incluso conta com serviços de quarto, almço e janta, Wi-fi plus para até 4 pessoas, canais por assinatura na TV, um frigobar pré abastecido.</li>
                 </ul>
      </div>
    
      <div class="mySlides3">
        <img src="/img/05.jpg" style="width:100%">
        <p>Preços</p>
        <ul id = slider>
           <li>Apenas: R$ 1,400/diária.</li>
           <li>Pacotes com serviços adicionais podem ser contratados*.</li>
                 </ul>
      </div>
    
        <a class="prev" onclick="plusSlides(-2, 2)">&#10094;</a>
        <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
    </div>
    
    
    <div class="slideshow-container">
      <h3>Quarto De Luxo</h3>
      <div class="mySlides4">
        <img src="/img/02.jpg" style="width:100%">
        <p>Sobre o quarto</p>
        <ul id = slider>
          <li>Quarto climatizado, espaçoso e acochegante para você e até 3 acompanhantes, com duas suites disponíveis.</li>
        </ul>
      </div>
    
      <div class="mySlides4">
        <img src="/img/3.jpg" style="width:100%">
        <p>Saiba mais</p>
        <ul id = slider>
           <li>Os quartos Premium, são os maiores do Hotel, com vistas belíssimas, e conforto 5 estrelas.O pacote incluso conta com serviços de quarto, almço e janta, Wi-fi plus para até 4 pessoas, canais por assinatura na TV, um frigobar pré abastecido.</li>
                 </ul>
      </div>
    
      <div class="mySlides4">
        <img src="/img/01.jpg" style="width:100%">
        <p>Preços</p>
        <ul id = slider>
           <li>Apenas: R$ 1,400/diária.</li>
           <li>Pacotes com serviços adicionais podem ser contratados*.</li>
                 </ul>
      </div>
    
        <a class="prev" onclick="plusSlides(-3, 3)">&#10094;</a>
        <a class="next" onclick="plusSlides(2, 3)">&#10095;</a>
    </div>

    <div>
        <h1>Conteudo</h1>
    </div>
    
</body>
</html>


